# what language
language: python

# what versions of python
python:
  - "3.6"

# what branches should be evaluated
branches:
    only:
        - master

# commands to prepare the conda install - download the latest conda
# and install it and add to path
before_install:
    - curl -O anaconda.sh https://repo.anaconda.com/archive/Anaconda3-2020.02-Linux-x86_64.sh
    - chmod +x anaconda.sh
    - ./anaconda.sh -b
    - export PATH=/home/travis/anaconda3/bin:$PATH
    - conda update --yes conda
    - source $(conda info --root)/etc/profile.d/conda.sh

# list of commands to run to setup the environment
install:
    - conda env create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
    - conda activate test-environment
    - conda install --yes coverage coveralls pylint
    - conda install --yes pytorch torchvision -c pytorch
    - cd $(conda info --root)/envs/test-environment/lib/python3.6/site-packages/
    - git clone https://github.com/AMLab-Amsterdam/lie_learn
    - cd lie_learn
    - python setup.py install
    - cd ..
    - git clone https://github.com/CNNs4QSPR/se3cnn.git
    - cd se3cnn
    - python setup.py install

script:
    - echo "Hello, Travis"
